:root {
  --color-yellow-1: #ffba00;

  --color-blue-1: #022f5f;
  --color-blue-2: #007bff;
  --color-blue-3: #0095a2;
  --color-blue-4: #00796b;

  --color-white: #fff;
  --color-grey: #c7c7c7;
  --color-green: #3baa0a;
  --color-red: #c90000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  box-sizing: border-box;
}

input,
textarea {
  width: 100%;
  font-family: inherit;
  border: none;
  padding: 8px 12px;
}

textarea {
  border: 1px solid var(--color-grey);
  font-size: 16px;
  border-radius: 5px;
}

.container {
  max-width: 2000px;
  padding: 0px 50px;

  margin: auto;
}
