.chartsContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.chartsContainer > * {
  flex-grow: 1;
}

.backBtnContainer {
  display: flex;
}

.backBtn {
  margin-left: auto;
  width: 265px;
  font-weight: bold;
}
