.spinnerContainer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.ideaListContainer {
  margin-top: 70px;
}

.footerContainer {
  display: flex;
  background-color: var(--color-grey-2);

  margin-top: 24px;
  margin-bottom: 24px;
}

.footerContainer .btnGroup {
  margin-left: auto;
}

.paginatorContainer {
  flex-grow: 1;
}

.feedbackSubmit {
  margin-left: auto;
  width: 200px;
  font-size: 13px;
  padding: 10px 24px;
}

.feedbackSubmit:not(:last-child) {
  margin-right: 10px;
}
