.btn {
  outline: none;
  border: none;
  background: none;
  padding: 10px 36px;

  color: var(--color-white);
  font-size: 13px;
  cursor: pointer;
}

.default {
  width: 125px;
}

.full {
  width: 100%;
}

.submit {
  background-color: var(--color-green);
}

.cancel {
  background-color: var(--color-red);
}

.rate {
  background-color: var(--color-blue-1);
}

.view {
  background-color: var(--color-blue-3);
}
