.ideaItem {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  border: 1px solid var(--color-grey);
  border-left: 5px solid var(--color-green);
}

.ideaItem:not(:last-child) {
  margin-bottom: 10px;
}

.itemContent {
  flex-basis: 60%;

  padding: 10px;
  color: var(--color-blue-1);
}

.itemContent h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.itemContent p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 2em;
}

.itemAction {
  display: flex;
  align-items: center;
}

.ratings {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.addComment {
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-blue-1);

  display: flex;
  flex-direction: column;
  justify-items: start;

  cursor: pointer;
}

.viewBtn {
  width: 120px;
  height: 100%;
}

.viewBtn:hover {
  background-color: var(--color-blue-4);
}

/* Styles for Comment Box */

/* .commentBoxParent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.commentBox {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  z-index: 1001;
  text-align: center;
}

.commentBox h3 {
  margin-bottom: 15px;
}

.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}

.saveButton {
  background-color: #4caf50;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  background-color: #f44336;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #45a049;
}

.cancelButton:hover {
  background-color: #e53935;
} */
